# FICO Analytic Challenge

## Week 1: Python Basics Exercises with Solutions

Exercise 1:

Write a function. It takes two integer numbers, and returns their product only if the product is equal to or lower than 1000. Otherwise, it returns their sum.

In [1]:
def int_operation(int1, int2):
    if int1 * int2 <= 1000:
        return int1 * int2
    else:
        return int1 + int2

In [2]:
# This block should not return any error
assert int_operation(0,0) == 0
assert int_operation(10, 10) == 100
assert int_operation(0, 100000000000) == 0
assert int_operation(1, 100000000000) == 100000000001
assert int_operation(40, 30) == 70
assert int_operation(10, 100) == 1000
assert int_operation(10, 101) == 111

Exercise 2:
Write a program to iterate the first 10 integer numbers from 0, and in each iteration, print the sum of the current and previous number.

Output should be like:
Current Number: 0, Previous Number: 0,  Sum: 0

Current Number: 1, Previous Number: 0,  Sum: 1

Current Number: 2, Previous Number: 1,  Sum: 3

Current Number: 3, Previous Number: 2,  Sum: 5

Current Number: 4, Previous Number: 3,  Sum: 7

Current Number: 5, Previous Number: 4,  Sum: 9

Current Number: 6, Previous Number: 5,  Sum: 11

Current Number: 7, Previous Number: 6,  Sum: 13

Current Number: 8, Previous Number: 7,  Sum: 15

Current Number: 9, Previous Number: 8,  Sum: 17

In [3]:
current_number = 0
previous_number = 0
i = 0
while i < 10:
    current_number = i
    print("Current Number: %d, Previous Number %d, Sum: %d" % (current_number, previous_number, current_number + previous_number))
    previous_number = i
    i += 1

Current Number: 0, Previous Number 0, Sum: 0
Current Number: 1, Previous Number 0, Sum: 1
Current Number: 2, Previous Number 1, Sum: 3
Current Number: 3, Previous Number 2, Sum: 5
Current Number: 4, Previous Number 3, Sum: 7
Current Number: 5, Previous Number 4, Sum: 9
Current Number: 6, Previous Number 5, Sum: 11
Current Number: 7, Previous Number 6, Sum: 13
Current Number: 8, Previous Number 7, Sum: 15
Current Number: 9, Previous Number 8, Sum: 17

Exercise 3: Write a function which removes first n characters from a string

In [4]:
def remove_chars(string_input, n):
    return string_input[n:]

In [5]:
assert remove_chars("pynative", 4) == "tive"
assert remove_chars("pynative", 2) == "native"
assert remove_chars("pynative", 0) == "pynative"
assert remove_chars("pynative", 100) == ""

Exercise 4: Check if the first and last number of a list is the same

In [6]:
def is_first_last_same(x):
    return x[0] == x[-1]

In [7]:
assert is_first_last_same([10])
assert not is_first_last_same([1,2,3,4])
assert is_first_last_same([1,2,3,1])

Exercise 5: Display numbers divisible by 5 from a list

In [8]:
def display_number_divisible(x):
    for num in x:
        if num % 5 == 0:
            print(num)

In [9]:
display_number_divisible([10, 20, 33, 46, 55])

10
20
55

Exercise 6: Print the following pattern

1

2 2

3 3 3

4 4 4 4

5 5 5 5 5

In [10]:
for i in range(1,6):
    print(("%d " % i)*i)

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

Exercise 7: Check Palindrome Number

A palindrome number is a number that reads the same forward and backward

In [11]:
def is_palindrome_number(x):
    str_num = str(x)
    str_num_reverse = str_num[::-1]
    return str_num == str_num_reverse

In [12]:
assert is_palindrome_number(121)
assert not is_palindrome_number(125)
assert is_palindrome_number(1)

Exercise 8: Calculate income tax for the given income by adhering to the rules below

Taxable Income	Rate (in %)

First $10,000	0

Next $10,000	10

The remaining	20

In [13]:
def calculate_income_tax(x):
    if x < 10000:
        return 0
    elif x < 20000:
        return (x - 10000) * 0.1
    else:
        return 10000 * 0.1 + (x - 20000) * 0.2

In [14]:
assert calculate_income_tax(500) == 0
assert calculate_income_tax(10001) == 0.1
assert calculate_income_tax(45000) == 6000

Exercise 9: Write a function called exponent(base, exp) that returns an int value of base raises to the power of exp

In [15]:
def exponent(base, power):
    return base ** power

In [16]:
assert exponent(2,5) == 32
assert exponent(5,4) == 625

Exercise 10: Get the statistics of each column of the following dataframe, and create a new column based on the product of colume_2 and column_4

In [17]:
import numpy as np
import pandas as pd

In [18]:
np.random.seed(101)
df = pd.DataFrame(np.random.randint(10, size=(20,5)), columns=[f"column_{i}" for i in range(5)])

In [19]:
df.describe()

        column_0   column_1   column_2   column_3   column_4
count  20.000000  20.000000  20.000000  20.000000  20.000000
mean    4.750000   4.450000   5.700000   5.050000   4.950000
std     2.613225   2.584875   2.364207   2.523052   2.523052
min     0.000000   0.000000   1.000000   0.000000   1.000000
25%     3.000000   2.750000   3.750000   3.000000   3.000000
50%     4.000000   4.000000   7.000000   4.500000   5.000000
75%     7.000000   6.250000   7.000000   7.000000   7.000000
max     9.000000   9.000000   9.000000   9.000000   9.000000

In [20]:
df["column_6"] = df["column_2"] * df["column_4"]

Exercise 11: Return the count of a given substring from a string

In [21]:
def count_occurrence(input_string, pattern):
    return input_string.count(pattern)

In [22]:
str_x = "Emma is good developer. Emma is a writer"
assert count_occurrence(str_x, "Emma") == 2